---
page_title: "{{.RenderedProviderName}} Provider"
subcategory: ""
description: |-
  {{ .Description | trimspace }}
---

# {{.RenderedProviderName}} Provider

The **bqutils** provider parses BigQuery `CREATE` SQL statements to ease creating and updating BigQuery routines and views with Terraform.

## Overview

The main use case is creating and updating BigQuery routines and views with Terraform by loading them directly from SQL files.

The data sources in this provider were tailored for use with the `google_bigquery_routine` and `google_bigquery_table` resources. They expose attributes that can fill the arguments of these resources from values obtained from the parsed SQL CREATE statements.

### Benefits

Productivity gains:

- Using the data sources in this provider removes the need to manually slice the routine source code into parts like arguments, body, and return type for feeding the `google_bigquery_routine` resource.
- It also lets you use the same SQL source file to provision the routines/views with Terraform or to create them manually in the BigQuery Console.
- You can also combine the data sources in this provider with other Terraform resources to accomplish further automation, such as:
  - Granting access to the routines/views to other datasets or projects using the `google_bigquery_dataset_access` resource.
  - Using the `google_bigquery_routine_iam_member` resource to manage IAM permissions for the routines/views.

Code maintainability gains:

- The data sources in this provider help you apply only the routines that changed in each environment, without tracking them manually. Terraform updates only routines that have changed.
- You can also use git for versioning the Terraform and SQL files, so you can track the impact of changes and bugs introduced in your routines/views.

Code management gains:

- The data sources in this provider allow you to keep your routines and views always up to date in all BigQuery environments you have.
- They make it easier to manage rollout of changes to several routines or views and reduce the risk of accidental breakage from forgotten changes.
- They make it possible to roll back changes to a previous version of the routines or views if needed, when the Terraform and the SQL code are versioned in Git.

### Restrictions

- Terraform will "own" your routine and view source code. Any changes applied outside the plan/apply cycle will be overwritten.

### Security

The provider:

- Does NOT access the filesystem, network, or the Terraform context or properties.
- Only operates on the string passed to its argument in the Terraform code.
- Does not call Google Cloud APIs and requires no provider configuration.

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}
